Categories: pickup, leagues
Read more: Go on...

%h1
  RAFUL
  %small
    Redding's Fall League

:markdown
  **Where:** [Caldwell Park](/places/caldwell)  
  **When:** Wednesday nights at 8pm  
  **Until:** November 21st, 2012  
  **Contact:** <raful@reddingultimate.org>

  Every Wednesday we play structured pickup at [Caldwell Park](/places/caldwell), starting at 8pm.
  These evenings are fun for players of all levels, and run through November 21st, 2012.
  Drop-in fee is $3 to pay for the lights, or $20 for the whole fall.
