%h1 404

.row
  .span4
    %img.img-rounded{:src => "/images/404.jpg"}
  .span4
    %p
      We can't find that page for you.
    %p
      If you think there should be a page here, email us at
      %a{:href => "mailto:webmaster@reddingultimate.org?subject=404"} webmaster@reddingultimate.org

