.footer-links
  %ul
    %li
      %a{:href => "/about"} About us
    %li
      %a{:href => "/contact"} Contact us
    %li
      %a{:href => "/photo-credits"} Photo credits
    %li
      %a{:href => "/technology"} Nerd corner

%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
%script{:src => '/bootstrap/bootstrap.min.js', :async => true, :type => 'text/javascript'}

