.row
  .span3.sidebar-menu
    .nav-header
      Redding Ultimate
    - display_menu(Nesta::Menu.full_menu, :class => 'nav nav-list')

  .span9
    ~ @page.to_html(self)

    %section.pages
      = haml :summaries, :layout => false, :locals => { :pages => @page.pages }

