.row
  .span3.sidebar-menu
    .nav-header
      Redding Ultimate
    - display_menu(Nesta::Menu.full_menu, :class => 'nav nav-list')

    .nav-header
      Links
    %ul.nav.nav-list
      %li
        %a{:href => "https://www.facebook.com/groups/ReddingUltimateAssociation/", :target => "_blank"}
          %i.icon-facebook
          Facebook
      %li
        %a{:href => "/articles.xml", :target => "_blank"}
          %i.icon-rss
          RSS

  .span9
    .pull-right.breadcrumbs
      - display_breadcrumbs

    ~ @page.to_html(self)

    %section.pages
      = haml :summaries, :layout => false, :locals => { :pages => @page.pages }

- if @page.metadata('updated on')
  - begin
    - datetime = DateTime.parse(@page.metadata('updated on')).strftime("%Y-%m-%d")
  - rescue ArgumentError
    - datetime = false
  - if datetime
    %p.pull-right.muted
      Last updated on
      = datetime
