
.row
  .span3.sidebar-menu
    .nav-header
      Redding Ultimate
    - display_menu(Nesta::Menu.full_menu, :class => 'nav nav-list')

  .span9
    .pull-right.breadcrumbs
      - display_breadcrumbs

    ~ @page.to_html(self)

    %section.pages
      = haml :summaries, :layout => false, :locals => { :pages => @page.pages }

- if @page.metadata('updated at')
  %p.pull-right.muted
    Updated at
    = @page.metadata('updated at')
  
