body
    margin-top: 40px
    background-color: #cc2233

.content-wrapper
    background-color: #ffffff
    margin-left: auto
    margin-right: auto
    padding-top: 20px
    margin-bottom: 60px
    width: 1080px

a
    border-bottom: none

