body
    margin-top: 40px
    background-color: rgb(130, 130, 140)

h1
    font-size: 30px

h2
    font-size: 26px

h3
    font-size: 22px

#content-wrapper
    margin-left: auto
    margin-right: auto
    padding-bottom: 40px
    padding-top: 20px
    width: 1000px
    background-color: #ffffff
    -moz-border-radius-bottomright: 20px
    border-bottom-right-radius: 20px
    -moz-border-radius-bottomleft: 20px
    border-bottom-left-radius: 20px
    -moz-box-shadow:    0 2px 8px 8px rgba(0, 0, 0, 0.15)
    -webkit-box-shadow: 0 2px 8px 8px rgba(0, 0, 0, 0.15)
    box-shadow:         0 2px 8px 8px rgba(0, 0, 0, 0.15)
    position: relative


.hero-unit
    background-image: url('/images/mt_shasta.jpg')
    background-color: rgb(124, 172, 221)
    border: 1px solid #ccc
    -moz-box-shadow:    0 8px 6px -6px rgba(0, 0, 0, 0.4)
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4)
    box-shadow:         0 8px 6px -6px rgba(0, 0, 0, 0.4)

    small
        color: #666

.icon-facebook
    background-image: url("/images/f_logo.png")
    background-position: 0 0

.icon-rss
    background-image: url("/images/feed-icon-14x14.png")
    background-position: 0 0

.icon-google
    background-image: url("/images/google_logo.png")
    background-position: 0 0

.footer-links
    text-align: center
    margin-top: 20px

    li
        display: inline
        list-style: none
        &::after
            content: " | "
        &:last-child::after
            content: ""

    a
        color: #444
        &:hover, &:active
            color: #444

.articles footer
    color: #999
    font-style: italic
    font-size: 90%
    a
        color: #999
        &:active, &:hover
            color: #999

section.page
    border-top: 1px dashed #ccc
    margin-top: 2em

.nav-list .current
    font-weight: bold

.nav-list li
    list-style: none

.breadcrumb
    ul
        margin: 0
    li
        display: inline
        list-style: none
        &::after
            content: " / "
            color: #aaa
        &:last-child::after
            content: ""
        &:last-child
            color: #aaa

article footer
    clear: both
    border-top: 1px dashed #ccc
    margin-top: 20px
    p.meta
        font-size: 90%
        font-style: italic
        color: #ccc

ol, ul
    p
        margin-bottom: 0
