body
    margin-top: 40px
    // font-family: Georgia, serif
    background-color: rgb(175, 205, 235)

#content-wrapper
    margin-left: auto
    margin-right: auto
    margin-bottom: 60px
    padding-bottom: 40px
    padding-top: 20px
    width: 1060px
    background-color: #ffffff
    -moz-border-radius-bottomright: 20px
    border-bottom-right-radius: 20px
    -moz-border-radius-bottomleft: 20px
    border-bottom-left-radius: 20px
    -moz-box-shadow:    2px 2px 3px 4px rgba(0, 0, 0, 0.08)
    -webkit-box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, 0.08)
    box-shadow:         2px 2px 3px 4px rgba(0, 0, 0, 0.08)


.hero-unit
    background-image: url('/images/mt_shasta.jpg')

.sidebar-menu .current
    font-weight: bold
