- unless pages.empty?
  %ul.unstyled
    - pages.each do |page|
      %li
        %section.page
          %h3
            = page.heading
          - if page.flagged_as?('draft')
            .alert.alert-warning
              %i.icon-warning-sign
              This page is a draft.
          = disclaimer(page)
        - if page.summary.nil? || page.summary.empty?
          ~ page.body
        - else
          ~ page.summary
          %p.read_more
            %a(href="#{page.abspath}")= page.read_more
        = haml :page_meta, :layout => false, :locals => { :page => page }
