%h1 How to subscribe to our mailing list

%p
  The Redding Ultimate Association has a mailing list that we use for general announcements and discussion, alongside our
  <a href="https://www.facebook.com/groups/ReddingUltimateAssociation/" target="_blank">Facebook group</a>.
  You can always view the latest messages at our <a href="https://groups.google.com/d/forum/redding-ultimate-association" target="_blank">mailing list page</a>.
  If you'd like to subscribe to our mailing list and receive all the latest RUA updates via email, you've got two options.


.row
  .span4.well
    %h4 Option 1: subscribe via the web 
    %p
      If you have a Google account, or if you don't mind <a href="https://accounts.google.com/SignUp" target="_blank">getting a free one</a>, you can subscribe to the list via the web interface.
      Simply go to <a href="https://groups.google.com/d/forum/redding-ultimate-association" target="_blank">our mailing list page</a> and click "Join group".
      You'll be able to tweak how often you receive emails and other settings.

  .span4.well
    %h4 Option 2: subscribe via email

    %p
      If you don't have a Google account and you don't want one, you can subscribe by sending an email to
      <a mailto="redding-ultimate-association+subscribe@googlegroups.com">redding-ultimate-association+subscribe@googlegroups.com</a>.
      You'll receive a reply email that will walk you through the rest of the process.

%p
  If you have questions or problems, <a href="mailto:webmaster@reddingultimate.org">send us an email</a> and we'll help you out.
