%section.disclaimer.well
  This pickup game is not organized by the Redding Ultimate Association.
  We make no guarantees that this game will be happening on any given day, and we're not responsible for any injuries or other problems that happen during the game.
