%h1 Red Hot Hat 2013 Registration

%p
  Use this form to register for the Red Hot Hat 2013.
  Registration fees are $20 for pre-registration, $25 for day-of.
  Registration closes at 9pm on Wednesday, April 24th, at which time this online form will disappear into the ether.
  For more information about the tournament, see <a target="_blank" href="/tournaments/red-hot-hat/2013">the tournament website</a>.

%p
  After this registration form is complete, you will be asked to pay for the tournament via Paypal.

<iframe src="https://docs.google.com/forms/d/1Hs6b0YoJ9UQpZdd_aga6Vi3tEuhueYNhRaq9JS61Ccg/viewform?embedded=true" width="700" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> 
