%h1 Contact us

We'd love to hear from you!

.row
  .span4
    %h3 Our community
    %p
      To get in touch with the Redding Ultimate community, use our
      %a{:href => "https://www.facebook.com/groups/ReddingUltimateAssociation", :target => "_blank"} Facebook group.
  .span4
    %h3 Ask a question
    %p
      You can email us at
      %a{:mailto => "questions@reddingultimate.org"} questions@reddingultimate.org
      and we'll be happy to help you out in any way that we can.

.row
  .span4
    %h3 Technical support
    %p
      Something wrong with the website? Other technical problems?
      Send us an email at
      %a{:mailto => "webmaster@reddingultimate.org"} webmaster@reddingultimate.org
      and we'll get right on it.
