Title: Redding Ultimate Association

.hero-unit
  %h1 RUA
  %p
    The Redding Ultimate Assocation organizes and promotes ultimate frisbee in the Redding area.

%ul.thumbnails
  %li.span4
    .thumbnail
      %img{:src => "/images/alicia_forehand.jpg"}
      .caption
        %h3
          Regular play
        %p
          We play regular pickup games.
          %br
          %a{:href => "/pickup"}
            Learn more...

  %li.span4
    .thumbnail
      %img{:src => "/images/red_hot_hat.jpg"}
      .caption
        %h3
          Leagues and tournaments
        %p
          We organize leauges and tournaments.
          %br
          %a{:href => "/leagues-and-tournaments"}
            Learn more...

  %li.span4
    .thumbnail
      %img{:src => "/images/cpr.jpg"}
      .caption
        %h3
          Red Hots
        %p
          We have a fun-loving mixed club team.
          %br
          %a{:href => "/red-hots"}
            Learn more...

%h2
  And more!

%p
  The Redding Ultimate Association promotes ultimate in the Redding
  Area any way that we can. If you are looking to play ultimate,
  teach the sport to others, or just learn more yourself, please
  %a{:href => "/contact"}
    contact us.

.row
  .span6
    %h3
      Ultimate links
    %ul
      %li
        One link...
      %li
        Two links...
  .span6
    %h3
      Recent news
    %div
