Title: Redding Ultimate Association
Template: bare

.hero-unit
  .row
    .span2
      %img{:src => "/images/roundlogo.png"}
    .span8
      %h1
        RUA
        %small
          Redding Ultimate Association
      %p
        We organize, promote, and play ultimate in Redding, CA.

%ul.thumbnails
  %li.span4
    .thumbnail
      %img.img-rounded{:src => "/images/alicia_forehand.jpg"}
      .caption
        %h4
          Regular play
        %p
          We play regular pickup games.
          %br
          %a{:href => "/pickup"}
            Learn more...

  %li.span4
    .thumbnail
      %img.img-rounded{:src => "/images/red_hot_hat.jpg"}
      .caption
        %h4
          Leagues and tournaments
        %p
          We organize leagues and tournaments.
          %br
          %a{:href => "/leagues-and-tournaments"}
            Learn more...

  %li.span4
    .thumbnail
      %img.img-rounded{:src => "/images/cpr.jpg"}
      .caption
        %h4
          Red Hots
        %p
          We have a fun-loving mixed club team.
          %br
          %a{:href => "/red-hots"}
            Learn more...

%h2
  And more!

%p
  The Redding Ultimate Association promotes ultimate in the Redding
  Area any way that we can. If you are looking to play ultimate,
  teach the sport to others, or just learn more yourself, please
  %a{:href => "/contact"}
    contact us.

.row
  .span6
    %h3
      Ultimate links
    %ul
      %li
        One link...
      %li
        Two links...
  .span6
    %h3
      Recent news
    %div
