Title: Redding Ultimate Association
Template: bare

.hero-unit
  .row
    .span2
      %img{:src => "/images/roundlogo.png"}
    .span8
      %h1
        RUA
        %small
          Redding Ultimate Association
      %p
        We organize, promote, and play ultimate in Redding, CA.

%ul.thumbnails
  %li.span4
    .thumbnail
      %img.img-rounded{:src => "/images/alicia_forehand.jpg"}
      .caption
        %h4
          Regular play
        %p
          We play regular pickup games.
          %br
          %a{:href => "/pickup"}
            Learn more...

  %li.span4
    .thumbnail
      %img.img-rounded{:src => "/images/red_hot_hat.jpg"}
      .caption
        %h4
          Leagues and tournaments
        %p
          We organize leagues and tournaments.
          %br
          %a{:href => "/tournaments"}
            Learn more...

  %li.span4
    .thumbnail
      %img.img-rounded{:src => "/images/cpr.jpg"}
      .caption
        %h4
          Red Hots
        %p
          We have a fun-loving mixed club team.
          %br
          %a{:href => "/red-hots"}
            Learn more...

.row
  .span6
    %h4
      Ongoing leagues
    %ul
      %li
        %a{:href => "/leagues/raful"}
          Fall league
        at Caldwell Park, every Wednesday at 8pm

  .span6
    %h4
      Upcoming events
    %ul
      %li
        %a{:href => "/tournaments/turkey-toss"}
          Turkey Toss
        hat tournament on November 24th at Enterprise park

%hr

.row
  .span4
    %h2
      And more!
    %p
      The Redding Ultimate Association promotes ultimate in the Redding
      Area any way that we can. If you are looking to play ultimate,
      teach the sport to others, or just learn more yourself, please
      %a{:href => "/contact"}
        contact us.

    %p
      If you're new to the game, here's Ultimate in
      %a{:href => "/ten-simple-rules"}
        10 simple rules.

    %h4
      Find us on...
    %p
      %a.btn{:href => "https://www.facebook.com/groups/ReddingUltimateAssociation/", :target => "_blank"}
        %i.icon-facebook
        &nbsp; Facebook

    %h4 Subscribe to our...
    %p
      %a.btn{:href => "https://groups.google.com/d/forum/redding-ultimate-association", :target => "_blank"}
        %i.icon-envelope
        &nbsp; Mailing list

      %a.btn{:href => "/articles.xml", :target => "_blank"}
        %i.icon-rss
        &nbsp; RSS


  .span8
    #imageCarousel.carousel.slide
      .carousel-inner
        .item.active
          %img{:src => "/images/carousel/cpr.jpg"}
          .carousel-caption
            %h4
              CPR
            %p
              During Summer 2011, the Red Hots joined up with friends from Chico and Paradise to form CPR, a mixed team that played in the Chico summer league.
        .item
          %img{:src => "/images/carousel/discos_2011.jpg"}
          .carousel-caption
            %h4
              Discos Calientes 2011
            %p
              The Red Hots at Discos Calients 2011, in Chico, CA.
        .item
          %img{:src => "/images/carousel/rasul_2012_champions.jpg"}
          .carousel-caption
            %h4
              RASUL 2012
            %p
              Disc Method, the champions of our 2012 Summer league.
      %a.carousel-control.left{:href => '#imageCarousel', 'data-slide' => 'prev'}
        &lsaquo;
      %a.carousel-control.right{:href => '#imageCarousel', 'data-slide' => 'next'}
        &rsaquo;

.row
  .span6
    %h3
      Ultimate links
      %small
        open in a new window
    %ul
      %li
        %a{:href => "http://www.usaultimate.org/index.html", :target => "_blank"}> USA Ultimate
        , the United States National governing body for Ultimate
      %li
        %a{:href => "http://ultiworld.com/", :target => "_blank"}> Ultiword
        , Ultimate news
      %li
        %a{:href => "http://skydmagazine.com/", :target => "_blank"}> Skyd
        , Ultimate magazine
      %li
        %a{:href => "http://www.chicoultimate.org/", :target => "_blank"}> CUF
        , the Chico Ultimate Foundation
      %li
        %a{:href => "http://www.sacultimate.org/", :target => "_blank"}> SUPA
        , the Sacramento Ultimate Players Association
  .span6
    %h3
      Recent news
    %ul.unstyled
      - latest_articles.each do |article|
        %li
          %a{:href => article.path}
            = article.title
          %div
            = format_date(article.date)
          .muted
            = article.summary
